<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenqf.dao.MemberAddressMapper">
    <resultMap type="com.chenqf.entity.MemberAddress" id="memberAddressMap">
        <id column="id" property="id" />
        <result column="fk_city_id" property="fkCityId"/>
        <result column="fk_district_id" property="fkDistrictId"/>
        <result column="city_name" property="cityName"/>
        <result column="province_name" property="provinceName"/>
        <result column="district_name" property="districtName"/>
        <result column="street" property="street"/>
        <result column="cell_phone" property="cellPhone"/>
        <result column="post_code" property="postCode"/>
        <result column="buyer_name" property="buyerName"/>
        <result column="is_default" property="isDefault"/>
        <result column="fk_member_id" property="fkMemberId"/>
    </resultMap>
    
    <insert id="addMemberAddress" >
        INSERT INTO 
        	member_address 
        	(fk_city_id,fk_district_id,street,cell_phone,post_code,buyer_name,is_default,fk_member_id)
        VALUES 
        	(#{cityId},#{districtId},#{street},#{cellPhone},#{postCode},#{buyerName},#{isDefault},#{memberId})
    </insert>
</mapper>